.highlight  { background: #000000; color: #f5f5f5; }
.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
  color: #7c7c7c;
  font-style: italic;
}
.highlight .err,
.highlight .gr,
.highlight .gt {
  color: #ffffff;
  background-color: #1f1f1f;
}
.highlight .gd,
.highlight .gd .x {
  color: #fdfdfd;
  background-color: #121212;
}
.highlight .ge {
  font-style: italic;
  color: #cfcfcf;
}
.highlight .gh {
  color: #bfbfbf;
}
.highlight .gi,
.highlight .gi .x {
  color: #fdfdfd;
  background-color: #050505;
}
.highlight .go {
  color: #a3a3a3;
}
.highlight .gp {
  color: #7a7a7a;
}
.highlight .gs {
  color: #ffffff;
  font-weight: bold;
}
.highlight .gu {
  color: #dcdcdc;
  font-weight: bold;
  font-style: italic;
}
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  font-weight: bold;
  color: #ffffff;
}
.highlight .o,
.highlight .ow {
  color: #ffffff;
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: #cfcfcf;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: #bfbfbf;
}
.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .nf,
.highlight .nn,
.highlight .no,
.highlight .ni,
.highlight .ne,
.highlight .nv {
  color: #e7e7e7;
}
.highlight .nt {
  color: #d3d3d3;
}
.highlight .w {
  color: #4c4c4c;
}
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #f0f0f0;
}
.type-csharp .highlight .k,
.type-csharp .highlight .kt {
  color: #ffffff;
}
.type-csharp .highlight .nf,
.type-csharp .highlight .nc,
.type-csharp .highlight .nn {
  color: #f1f1f1;
}
.type-csharp .highlight .s,
.type-csharp .highlight .sc {
  color: #d1d1d1;
}
